@font-face {
  font-family: "SuperMarioBros";
  src: url("../assets/fuentes/SuperMarioBros.ttf") format("truetype");
}
body {
  background-image: url("../assets/img/fondo.jpg");
  background-size: cover;
  background-position: center;
}

header {
  height: 10vh;
}
header div {
  height: 100%;
}
header div #logo {
  max-width: 100%;
  max-height: 100%;
}
header #navegador div {
  width: 100%;
}
header #navegador div a {
  height: 50%;
  color: #ff4cc7;
  padding-left: 10px;
  padding-right: 10px;
}
header #navegador div a:hover {
  color: white;
}
header a {
  color: #ff4cc7;
  text-decoration: none;
  font-family: SuperMarioBros;
}
header a:hover {
  color: #aa3385;
}
header p {
  margin-bottom: 0 !important;
}
header p a {
  font-family: none;
}

main {
  height: 80vh;
}
main #noticias, main #videojuegos, main #contacto {
  border: 2px solid #ff4cc7;
}
main div .btn {
  color: black;
  border-color: #ff4cc7;
  background-color: #ff4cc7;
}
main div .btn:hover {
  border-color: #aa3385;
  background-color: #aa3385;
}

#mainInicio #noticias {
  height: 20vh;
  width: 100%;
  background-image: url("../assets/img/fondoNoticias.webp");
  background-size: cover;
  background-position: center;
}
#mainInicio #videojuegos {
  background-image: url("../assets/img/fondoVideojuegos.jpg");
  height: 20vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
#mainInicio #contacto {
  background-image: url("../assets/img/fondoContacto.jpg");
  height: 20vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media (max-width: 575px) {
  #mainInicio #noticias {
    height: auto;
  }
  #mainInicio #videojuegos {
    height: auto;
  }
  #mainInicio #contacto {
    height: auto;
  }
}
#mainIngreso-Registro #iniciar, #mainIngreso-Registro #registrar {
  height: 80vh;
  max-width: 400px;
}

#mainNoticias .card {
  width: 40rem;
  height: 35rem;
}
#mainNoticias .card img {
  height: 25rem;
}
#mainNoticias .card a {
  text-decoration: none;
  color: #6229d0;
}
#mainNoticias .page-item a {
  color: #6229d0;
}
#mainNoticias .active a {
  border-color: #6229d0;
  background-color: #6229d0;
  color: white;
}

#mainVideojuegos {
  text-align: center;
  color: white;
}
#mainVideojuegos .carousel-inner {
  height: 60vh;
  width: 80vw;
}
#mainVideojuegos .carousel-inner img {
  height: 60vh;
  width: 100%;
}
#mainVideojuegos .btn {
  color: black;
  border-color: #ff4cc7;
  background-color: #ff4cc7;
}
#mainVideojuegos .btn:hover {
  border-color: #aa3385;
  background-color: #aa3385;
}
#mainVideojuegos #overwatch2 p {
  margin-bottom: 50px;
}

#mainContacto {
  max-width: 700px;
}
#mainContacto .btn {
  color: black;
  border-color: #ff4cc7;
  background-color: #ff4cc7;
}
#mainContacto .btn:hover {
  border-color: #aa3385;
  background-color: #aa3385;
}

footer {
  height: 10vh;
}
footer .row {
  height: 100%;
}
footer .row .redes {
  padding: 5px;
}
footer .row .redes a {
  color: white;
  text-decoration: none;
  font-family: SuperMarioBros;
}
footer .row .redes a:hover {
  color: black;
}

@media (max-width: 1080px) {
  .redes .link {
    display: none !important;
  }
}
@media (max-width: 350px) {
  .redes img {
    height: 40px !important;
  }
}
@media (max-width: 300px) {
  .redes img {
    height: 25px !important;
  }
}/*# sourceMappingURL=styles.css.map */