@import "./fuentes";

body{
    background-image: url("../assets/img/fondo.jpg");    
    background-size: cover;
    background-position: center;
}

header{

    height: 10vh;

    div{
        height: 100%;
        #logo{
            max-width: 100%;
            max-height: 100%;
        }
    }
    #navegador{
        div{
            width: 100%;
            a{
                height: 50%;
                color: #ff4cc7;
                padding-left: 10px;
                padding-right: 10px;
                &:hover{
                    color: white;
                }
            }
        }
    }
    a{
        color: #ff4cc7;
        text-decoration:none;
        font-family: SuperMarioBros;
        &:hover{
            color: #aa3385;
        }
    }
    p{
        margin-bottom: 0 !important;
        a{
            font-family: none;
        }
    }
}


// MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN
main{

    height: 80vh;

    #noticias, #videojuegos, #contacto{
        border: 2px solid #ff4cc7;
    }

    div{
        
        .btn{
            color: black;
            border-color: #ff4cc7;
            background-color: #ff4cc7;

            &:hover{
                border-color: #aa3385;
                background-color: #aa3385;
            }
        }
    }
}

// MAIN INDEX MAIN INDEX MAIN INDEX MAIN INDEX MAIN INDEX MAIN INDEX

#mainInicio{

    #noticias{
        height: 20vh;
        width: 100%;
        background-image: url("../assets/img/fondoNoticias.webp");
        background-size: cover;
        background-position: center;
    }

    #videojuegos{
        background-image: url("../assets/img/fondoVideojuegos.jpg");
        height: 20vh;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    #contacto{
        background-image: url("../assets/img/fondoContacto.jpg");
        height: 20vh;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 575px) {
    #mainInicio{

        #noticias{
            height: auto;
        }

        #videojuegos{
            height: auto;
        }

        #contacto{
            height: auto;
        }
    }
}

// MAIN INGRESO-REGISTRO MAIN INGRESO-REGISTRO MAIN INGRESO-REGISTRO MAIN INGRESO-REGISTRO

#mainIngreso-Registro{
    
    #iniciar, #registrar{
        height: 80vh;
        max-width: 400px;
    }
}


// MAIN NOTICIAS MAIN NOTICIAS MAIN NOTICIAS MAIN NOTICIAS MAIN NOTICIAS MAIN NOTICIAS

#mainNoticias{

    .card{
        width: 40rem;
        height: 35rem;
        img{
            height: 25rem;
        }
        a{
            text-decoration: none;
            color: #6229d0;
        }
    }

    .page-item{
        a{
            color: #6229d0;
        }
    }

    .active a{
        border-color: #6229d0;
        background-color: #6229d0;
        color: white;
    }

}

// MAIN VIDEOJUEGOS MAIN VIDEOJUEGOS MAIN VIDEOJUEGOS MAIN VIDEOJUEGOS MAIN VIDEOJUEGOS MAIN VIDEOJUEGOS 

#mainVideojuegos{
    text-align: center;
    color: white;

    .carousel-inner{
        height: 60vh;
        width: 80vw;
        img{
            height: 60vh;
            width: 100%;
        }
    }

    .btn{
        color: black;
        border-color: #ff4cc7;
        background-color: #ff4cc7;

        &:hover{
            border-color: #aa3385;
            background-color: #aa3385;
        }
    }

    #overwatch2{
        p{
            margin-bottom: 50px;
        }
    }
}

// MAIN CONTACTO MAIN CONTACTO MAIN CONTACTO MAIN CONTACTO MAIN CONTACTO MAIN CONTACTO MAIN CONTACTO 

#mainContacto{
    max-width: 700px;

    .btn{
        color: black;
        border-color: #ff4cc7;
        background-color: #ff4cc7;

        &:hover{
            border-color: #aa3385;
            background-color: #aa3385;
        }
    }
}

// FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 

footer{

    height: 10vh;

    .row{
        height: 100%;
        .redes{
            background-color: #ff4cc7;
            padding: 5px;
            a{
                color: white;
                text-decoration:none;
                font-family: SuperMarioBros;
                &:hover{
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 1080px) {

    .redes{
        background-color: transparent !important;

        .link{
            display: none !important;
        }
    }
}